---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import SocialPill from "@/components/SocialPill.astro"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import MailIcon from "@/components/icons/Mail.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
---

<Layout
  title="Porfolio de Miguel Buriticá - Desarrollador y Programador Web con +2 años de experiencia"
  description="Contrata a Miguel para crear tu aplicación web o móvil. Desarrollador Web enfocado en el Front End (tanto mobile con Flutter como web con Vue.js y Astro). Especializado en crear la mejor versión de la aplicación que necesitas."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <header class="flex flex-col sm:flex-row sm:items-center pb-6 lg:pb-10">
        <img
          class="rounded-xl size-16 mb-4 sm:mr-4"
          src="/me.webp"
          alt="Rostro de Miguel Buriticá"
        />
        <h1
          class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4"
        >
          Hola, soy Miguel <a
            href="https://www.linkedin.com/in/miguel-antonio-buritica-vargas/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center hover:scale-105 transition"
          >
            <Badge>Trabajando</Badge>
          </a>
        </h1>
      </header>
      <main>
        <h2
          class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
        >
          <span>+2 años de experiencia.</span><span
            class="text-yellow-800 dark:text-yellow-200"
          >
            Desarrollador Web enfocado en el Front</span
          >
          .<span class="text-red-800 dark:text-red-200">
            De Bogotá, Colombia</span
          >.
          <span class="text-sky-800 dark:text-sky-200"
            >Especializado en crear la mejor versión de tu aplicación.</span
          >
        </h2>
  
        <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill href="https://www.linkedin.com/in/miguel-antonio-buritica-vargas/">
            <LinkedInIcon class="size-4 md:size-6" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/Miguelburitica">
            <GitHubIcon class="size-4 md:size-6" />
            GitHub
          </SocialPill>
          <SocialPill href="mailto:miguelaburiticav@gmail.com">
            <MailIcon class="size-4 md:size-6" />
            miguelaburiticav@gmail.com
          </SocialPill>
        </nav>
      </main>
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        </slot>
      </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
